@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --red-color: #fe1f00;
    --background-color: #15151d;
    --white-color: #fefefe;

    --very-small-size: 400 0.833rem/1.5 'Roboto', sans-serif;
    --small-size: 400 1rem/1.5 'Roboto', sans-serif;
    --medium-size: 400 1.2rem/1.5 'Roboto', sans-serif;
    --large-size: 500 1.44rem/1.5 'Roboto', sans-serif;
    --very-large-size: 700 2.074rem/1.75 'Roboto', sans-serif;
    --very-very-large-size: 800 2.5rem/1.75 'Roboto', sans-serif;
}

body {
    background-color: var(--background-color);
}

a,
p,
h1,
h2,
h3,
h4 {
    color: var(--white-color);
}

h1 {
    font: var(--very-very-large-size);
}

h2 {
    font: var(--very-large-size);
}

h3 {
    font: var(--large-size);
}

p {
    font: var(--small-size);
}

a {
    text-decoration: none;
}

.grid {
    display: grid;
    gap: 20px;
}

.btn {
    background-color: var(--red-color);
    padding: 7px 20px;
    color: var(--white-color);
    font: var(--small-size);
    font-weight: 500;
    border: 2px solid var(--red-color);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: var(--background-color);
}

header > .links-container.grid {
    grid-template-columns: repeat(2, min-content);
    align-items: center;
    gap: 40px;
}

header > .links-container > .links {
    grid-template-columns: repeat(1, min-content);
    align-items: center;
}

header > .links-container > .icon_list {
    grid-template-columns: repeat(2, min-content);
    align-items: center;
}

header > .links-container > .links > li,
header > .links-container > .icon_list > li {
    list-style: none;
}

.links-responsive {
    display: none;
}

#menu-burger {
    display: none;
}

header .icon {
    height: 30px;
    width: auto;
}

#logo > img {
    /* height: 40px; */
    width: 150px;
}

header a {
    font: var(--small-size);
    font-weight: 500;
}

.cart-icon {
    position: relative;
    display: flex;
    align-items: end;
    justify-items: end;
}

.cart-icon > .number_in_cart {
    position: absolute;
    bottom: 55%;
    left: 55%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    justify-content: center;
    min-height: 1.5em;
    min-width: 1.5em;
    padding: 2px;
    background-color: var(--red-color);
    color: var(--white-color);
    font: var(--very-small-size);
    line-height: 1.4;
}

main {
    justify-content: center;
    margin-top: 80px;
}

section.grid {
    height: 100vh;
    padding: 40px 100px;
    max-width: 1200px;
    column-gap: 50px;
}

#home {
    height: calc(100vh - 110px);
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
}

#home > img {
    grid-column: 1/5;
    height: 100%;
    max-height: 65vh;
}

.home-container {
    grid-column: 5/11;
    justify-items: start;
    height: fit-content;
}

#about {
    height: calc(100vh - 110px);
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
}

#about > img {
    grid-column: 7/11;
    height: 100%;
    max-height: 65vh;
}

.about-container {
    grid-column: 1/7;
    justify-items: start;
    height: fit-content;
}

#discover.grid {
    align-items: center;
    justify-content: center;
    position: relative;
    grid-template-columns: repeat(3, min-content);
}

#discover .split-word {
    font: var(--large-size);
    font-size: 80px;
    font-weight: 800;
    color: var(--white-color);
}

#discover > img {
    height: 65vh;
    min-width: 200px;
}

#home > img,
#about > img,
#discover > img {
    object-fit: contain;
}

.word-left {
    text-align: end;
}

.word-right {
    text-align: start;
}

#shop {
    padding: 40px 100px;
}

#shop h1 {
    margin-bottom: 50px;
}

#products-container.grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 50px;
    column-gap: 50px;
}

#product-container.grid {
    padding: 40px 100px;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    justify-content: center;
}

#product-container > img {
    height: 70vh;
    object-fit: cover;
}

.product-data {
    justify-items: start;
    height: fit-content;
}

#quantity_product {
    background-color: var(--background-color);
    color: var(--white-color);
    text-align: start;
}

.product.grid {
    row-gap: 0;
}

.product-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cart {
    grid-template-columns: 2fr 1fr;
    padding: 40px 100px;
    gap: 50px;
}

#cart-container {
    gap: 50px;
}

.checkout-container {
    height: fit-content;
}

.product-cart.grid {
    justify-items: end;
    grid-template-columns: 1fr 2fr;
    row-gap: 10px;
    height: fit-content;
}

.product-cart > img {
    grid-row: 1/4;
    grid-column: 1;
    object-fit: cover;
}

.hidden_image {
    display: none;
}

.product-cart-header {
    grid-column: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-cart-header > p {
    font-weight: 500;
}

.product-total {
    grid-column: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.remove_from_cart {
    height: fit-content;
}

#error-container {
    display: none;
    padding: 40px 100px 0;
}

.danger {
    background-color: #fe1e0036;
    color: var(--red-color);
    padding: 20px 40px;
    border-radius: 5px;
    font: var(--medium-size);
}

.success {
    background-color: #31c30039;
    color: #35d400;
    padding: 20px 40px;
    border-radius: 5px;
    font: var(--medium-size);
}

.quantity_product-cart {
    background-color: var(--background-color);
    color: var(--white-color);
    padding: 5px 10px;
    text-align: start;
    width: 100px;
}

@media (max-width: 768px) {
    header {
        padding: 20px 40px;
    }

    header > .links-container.grid {
        display: initial;
    }

    header > .links-container > .links {
        display: none;
    }

    #logo > img {
        width: 125px;
    }

    .links-responsive {
        display: block;
        position: absolute;
        top: 100%;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding: 10px 40px;
        justify-content: end;
        align-items: start;
        background-color: var(--background-color);
        transition: 0.2s ease-in-out;
        overflow-x: hidden;
    }

    .links-responsive > li {
        text-align: end;
    }

    .links-responsive.active {
        right: 0;
    }

    header > .links-container > .icon_list {
        grid-template-columns: repeat(3, min-content);
        align-items: center;
    }

    #menu-burger {
        display: grid;
        grid-template-rows: repeat(3, 8px);
        gap: 3px;
        align-items: center;
        cursor: pointer;
    }

    #menu-burger > .bar {
        width: 35px;
        height: 3px;
        background-color: var(--white-color);
    }

    section.grid {
        padding: 40px 40px;
        column-gap: 20px;
    }

    #home,
    #about,
    #discover {
        height: 100%;
        min-height: 100vh;
        grid-template-columns: 1fr;
        align-items: start;
    }

    #home > .home-container,
    #about > .about-container {
        grid-column: 1/1;
    }

    #home > img,
    #about > img {
        display: none;
    }

    .hidden_image {
        display: block;
    }

    #discover > img {
        height: 65vh;
        min-width: 30vw;
    }

    #discover .split-word {
        font-size: 50px;
    }

    #shop {
        padding: 40px 40px;
    }

    #product-container.grid {
        padding: 40px 40px;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    #product-container > img {
        height: 40vh;
    }

    .checkout-container {
        order: -1;
    }

    #cart {
        grid-template-columns: 1fr;
        padding: 40px 40px;
    }

    #error-container {
        padding: 40px 40px 0;
    }

    .danger,
    .success {
        padding: 15px 30px;
    }
}
