@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --first-color: #97591a;
    --primary-color: #633a11;
    --second-color: #e3a76b;
    --gray-color: #adacac;
    --text-color: #0b0a0a;
    --background-color: #fefefe;
    --white-color: #fff;

    --very-small-size: 400 0.833rem/1.5 'Roboto', sans-serif;
    --small-size: 400 1rem/1.5 'Roboto', sans-serif;
    --medium-size: 400 1.2rem/1.5 'Roboto', sans-serif;
    --large-size: 500 1.44rem/1.5 'Roboto', sans-serif;
    --very-large-size: 500 1.728rem/1.75 'Roboto', sans-serif;
    --very-very-large-size: 700 2.074rem/1.75 'Roboto', sans-serif;
}

a,
p,
h1,
h2,
h3,
h4 {
    color: var(--text-color);
}

h1 {
    font: var(--very-very-large-size);
}

h2 {
    font: var(--very-large-size);
}

h3 {
    font: var(--large-size);
}

p {
    font: var(--small-size);
}

a {
    text-decoration: none;
}

.grid {
    display: grid;
    gap: 20px;
}

.btn {
    background-color: var(--text-color);
    padding: 10px 20px;
    color: var(--white-color);
    font: var(--small-size);
    font-weight: 500;
    border: 2px solid var(--text-color);
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

header > .links {
    grid-template-columns: repeat(3, min-content);
    align-items: center;
}

header > .links > li {
    list-style: none;
}

header .icon {
    height: 30px;
    width: auto;
}

header a {
    font: var(--small-size);
    font-weight: 500;
}

.cart-icon {
    position: relative;
    display: flex;
    align-items: end;
    justify-items: end;
}

.cart-icon > .number_in_cart {
    position: absolute;
    bottom: 55%;
    left: 55%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    justify-content: center;
    min-height: 1.5em;
    min-width: 1.5em;
    padding: 2px;
    background-color: var(--text-color);
    color: var(--white-color);
    font: var(--very-small-size);
    line-height: 1.4;
}

main {
    justify-content: center;
}

section.grid {
    height: 100vh;
    padding: 40px 100px;
    max-width: 1200px;
    column-gap: 50px;
}

#home {
    height: calc(100vh - 110px);
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
}

#home > img {
    grid-column: 1/5;
    height: 100%;
}

.home-container {
    grid-column: 5/11;
    justify-items: start;
    height: fit-content;
}

#about {
    height: calc(100vh - 110px);
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
}

#about > img {
    grid-column: 7/11;
    height: 100%;
}

.about-container {
    grid-column: 1/7;
    justify-items: start;
    height: fit-content;
}

#discover.grid {
    align-items: center;
    justify-content: center;
    position: relative;
    grid-template-columns: repeat(3, min-content);
}

#discover .split-word {
    font: var(--large-size);
    font-size: 80px;
    font-weight: 800;
}

#discover > img {
    height: 65vh;
    min-width: 350px;
}

.word-left {
    text-align: end;
}

.word-right {
    text-align: start;
}

#shop {
    padding: 40px 100px;
}

#shop h1 {
    margin-bottom: 50px;
}

#products-container.grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 50px;
    column-gap: 50px;
}

#product-container.grid {
    padding: 40px 100px;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    justify-content: center;
}

#product-container > img {
    height: 70vh;
}

.product-data {
    justify-items: start;
    height: fit-content;
}

#quantity_product {
    background-color: var(--white-color);
    color: var(--text-color);
}

.product.grid {
    row-gap: 0;
}

.product-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cart {
    grid-template-columns: 2fr 1fr;
    padding: 40px 100px;
    gap: 50px;
}

#cart-container {
    gap: 50px;
}
